[init]
	defaultBranch = main
[user]
	email = dariush@najjarza.de
	name = Dariush Najjarzade
[status]
	submoduleSummary = true
[http]
	version = HTTP/1.1
	sslverify = false

# [url "https://github.com/"]
#     insteadOf = git@github.com:
#     fetch = +refs/heads/*:refs/remotes/origin/*
# 
# [url "git@github.com:"]
#     pushInsteadOf = https://github.com/  
