* filter=git-crypt diff=git-crypt
README.md !filter !diff
key/acer-nitro/id_ed25519.pub !filter !diff
key/authorized_keys !filter !diff
key/git-crypt-key !filter !diff
key/assh-decrypt-key !filter !diff
.gitattributes !filter !diff
